[Desktop Entry]
Encoding=UTF-8
Name=Atalho para Resultado de imagem para universidade do minho departamento informatica
Type=Link
URL=https://www.google.pt/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwidtojv07LaAhVBHhQKHaAJCxUQjRx6BAgAEAU&url=http%3A%2F%2Fwww.di.uminho.pt%2F~gepl%2FSGPE%2F&psig=AOvVaw3_IulbPMKIk5NsiFoPrGJ0&ust=1523550989734463
Icon=text-html
